.card{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(0, 0, 0);
    margin: 0 auto;
    margin-top: 5%;
    padding: 5px 30px;
    width: 290px;
    height: 470px;
    border-radius: 15px;
    background: linear-gradient(to right, blue, white);
    box-shadow: 10px 5px 5px black;
}
.btnC{
    border:2px solid rgb(52, 52, 52);
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
    color: white;
    width: 50px;
    justify-content: flex-end;
    align-self: flex-end;
    font-weight:bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.btnC:hover{
    transition: 500ms;
    background-color: red;
    color:black
}

.text{
    font-weight: bold;
    font-family: Cinzel;
    font-size: 20px;
}

.nameT{
    font-weight: bold;
    font-size: 40px;
    font-family: Lemon;
}
.temp{
    font-weight: bold;
    color: rgb(255, 213, 0);
    font-family: limelight ;
    font-size: 20px;
}

.info{
 display: grid;
 grid-template-columns: repeat(2,1fr);
}